.header {
  width: 100%;
  height: auto;
  padding: 0.7rem;
  background-color: #3a445c;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 4px 2px #2b3756;
  z-index:200;
}
.header span {
  font-size: 4vw;
}

@media only screen and (max-width: 1000px) {
  .header span {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 769px) {
  .header span {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 400px) {
  .header span {
    font-size: 4vh !important;
  }
}
